<div class="col-lg-2 col-md-12 admin-menu">
    <h3>Меню</h3>
    <ul>
        <li>
            <a asp-controller="AdminPanel" asp-action="Products">Продукты</a>
        </li>
        <li>
            <a asp-controller="AdminPanel" asp-action="Orders">Заказы</a>
        </li>
        <li>
            <a asp-controller="AdminPanel" asp-action="Cities">Города</a>
        </li>
        <li>
            <a asp-controller="AdminPanel" asp-action="Shops">Магазины</a>
        </li>
        <li>
            <a asp-controller="AdminPanel" asp-action="CommandLine">Командная строка</a>
        </li>
    </ul>
</div>
