@model WebShop_FSharp.ViewModels.AdminPanelModels.CommandLineResponse

@{
    Layout = "_AdminPanelLayout";
}

<div class="row">
    @await Html.PartialAsync("_GetAdminMenu")
    <div class="col-lg-10 col-md-12 admin-content-margined">
        <div class="content">
            <div class="d-flex flex-column justify-content-center align-items-center w-100">
                @if (Model.IsResponse)
                {
                    if (Model.IsSuccessful)
                    {
                        <div class="alert alert-success w-50 mt-3">
                            Команда успешно исполнена@(Model.Message != null ? $":{Model.Message}" : "")
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-danger w-50 mt-3">
                            При исполнении команды возникла ошибка@(Model.Message != null ? $":{Model.Message}" : "")
                        </div>
                    }
                }

                <form action="" method="post" class="mt-2 w-50 d-flex flex-column justify-content-center align-items-center">
                    <label for="command-line">Введите команду</label>
                    <input id="command-line" class="form-control mt-2" name="command" type="text" />
                    <input type="submit" value="Исполнить" class="btn btn-primary mt-2" />
                </form>
            </div>
        </div>
    </div>
</div>
