/* your styles go here */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.cursor-pointer {
    cursor: pointer;
}

.position-relative {
    position: relative !important;
}

.border-bottom-none {
    border-bottom: none !important;
}

#upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 400px;
    outline: 2px dashed #ff3f3f;
    outline-offset: -12px;
    background-color: ghostwhite;
    font-family: 'Segoe UI';
    color: #1f3c44;
}

    #upload-container img {
        width: 40%;
        margin-bottom: 20px;
        user-select: none;
    }

    #upload-container label {
        font-weight: bold;
    }

        #upload-container label:hover {
            cursor: pointer;
            text-decoration: underline;
        }

    #upload-container div {
        position: relative;
        z-index: 10;
    }

    #upload-container input[type=file] {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        position: absolute;
        z-index: -10;
    }


        #upload-container input[type=file]:focus + label {
            outline: 1px solid #0078d7;
            outline: -webkit-focus-ring-color auto 5px;
        }

    #upload-container label.focus {
        outline: 1px solid #0078d7;
        outline: -webkit-focus-ring-color auto 5px;
    }

    #upload-container.dragover {
        background-color: #fafafa;
        outline-offset: -17px;
    }

#image-label {
    height: calc(1.5em + .75rem);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
}

#property-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#review-rating {
    grid-area: rating;
}

#review-text {
    grid-area: text;
}

#review-submit {
    grid-area: button;
}

#reviews-tab, #properties-tab {
    cursor: pointer;
}

.margin-bottom-40px {
    margin-bottom: 48px;
}

content {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
    z-index: 3;
}

.avatar {
    border-radius: 50%;
    /*border: 1px solid #ff3f3f;*/
    /*box-shadow: #963c3c 1px 1px;*/
}

.product-card-img {
    width: 260px;
    height: 260px;
    object-fit: contain;
}

.product-img {
    width: 540px;
    height: 540px;
    object-fit: contain;
}

.product-details-container {
    grid-template-columns: repeat(10,minmax(0,1fr));
    display: grid;
    margin: 0 60px;
}

.review-container {
    display: grid;
    grid-template-areas: "text rating" "text button";
    grid-template-columns: 3fr 1fr;
    grid-gap: 1rem;
}

.review-rating-container {
    grid-area: star;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-rating-star {
    width: 128px;
    height: 128px;
}

.review-image-container {
    grid-area: img;
}

.review-image {
    border-radius: 50%;
    width: 128px;
    height: 128px;
    object-fit: contain;
}

.review-content {
    grid-area: text;
    margin-top: 0.3rem;
    word-break: break-all;
    word-wrap: break-word;
    white-space: normal;
    height: auto;
}

.review-rating-star-text {
    color: white;
    position: absolute;
    height: 128px;
    width: 128px;
    margin-top: 5px;
    font-size: 2em;
}

.review-name {
    grid-area: name;
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
}

.review {
    display: grid;
    padding: 0.5rem 0;
    grid-template-areas: "name text star" "img text star";
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 1rem;
}

.properties {
    font-size: 18px;
    line-height: 1.29;
    grid-column: auto/span 5;
    min-width: 0;
    grid-column-start: 4;
}

.property-row {
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin-top: 0.5rem;
}

.property-name-column {
    color: #5d5d64;
    padding-right: 20px;
}

.property-field.box {
    margin: 1rem;
}

.border-red {
    border: 1px solid rgba(255, 0, 0, 0.3);
}

.property-value-column {
    padding-left: 30px;
}

@media screen and (max-width: 500px) {
    .product-details-container {
        margin: 0px;
    }

    .properties {
        display: flex;
        flex-direction: column;
    }

    .property-row {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 992px) {
    .properties {
        grid-column-start: 3 !important;
    }
}

@media screen and (max-width: 767px) {
    .properties {
        grid-column-start: 2 !important;
    }
}

@media screen and (max-width: 576px) {
    .properties {
        grid-column-start: 1 !important;
    }
}

@media screen and (max-width: 342px) {
    .property-row {
        display:flex;
        flex-direction:column;
    }
    .property-value-column{
        padding: 10px 0px 10px 0px;
    }
}

.page-item.disabled {
    cursor: auto;
}

.field-validation-valid {
    display: none;
}

.field-validation-error {
    color: red;
}

.input-validation-error {
    border-color: red;
}

.property-name {
    padding: .375rem .75rem;
    font-size: .9rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
}

.admin-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #555;
}

    .admin-info > p {
        font-size: 26px;
        margin-left: 10px;
        font-weight: 500;
        margin-bottom: 0px;
    }

.admin-menu {
    background-color: white;
    height: 100%;
}

    .admin-menu h3 {
        text-align: center;
        text-transform: uppercase;
        color: dimgrey;
        padding: 15px 0px 10px 0px;
        border-bottom: 1px solid rgb(230, 230, 230);
        min-width: 100%;
        box-sizing: border-box;
        margin: 0px;
        min-height: 60px;
    }

    .admin-menu ul {
        list-style: none;
        padding-left: 0px;
        margin-bottom: 0px;
    }

    .admin-menu li {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 500;
        color: dimgray;
        box-sizing: content-box;
    }

    .admin-menu a {
        text-decoration: none;
        color: inherit;
        padding: 15px 10px 15px 40px;
        display: block;
    }

        .admin-menu a:hover, a:active, a:focus {
            text-decoration: none;
            background-color: rgb(255, 63, 63);
        }

.admin-content > .header {
    background-color: white;
    display: flex !important;
    flex-direction: row-reverse !important;
    justify-content: space-between;
    min-height: 60px;
}

@media screen and (max-width: 620px) {
    .admin-content > .header {
        flex-direction: column-reverse !important;
    }
}

.admin-content > .header * {
    padding: 5px;
    margin: 5px 5px 5px 5px;
}

.header .btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15px;
}

.admin-content td, th {
    text-align: center;
}

.admin-content .content, .admin-content-margined .content {
    background-color: white;
    display: block;
}

    .admin-content-margined .content .form-control {
        display: block;
        margin: 10px 15px 0 15px;
    }

    .admin-content-margined .content .field-validation-error {
        display: block;
        margin-left: 15px;
        margin-top: 5px;
    }

    .admin-content-margined .content .property-name {
        display: block;
        margin: 10px 15px 10px 15px;
    }

    .admin-content-margined .content .btn {
        margin: 0px 15px 10px 15px;
    }

.admin-content-margined * {
    margin-right: 15px;
}

.admin-content-margined h3 {
    text-transform: uppercase;
    color: dimgrey;
    padding: 15px;
    text-align: center;
}

.form-group label {
    padding-left: 15px;
}

.admin-content-margined .input-group {
    padding-left: 15px;
}

    .admin-content-margined .input-group * {
        margin-right: 0px;
    }

.property-field {
    display: flex;
    flex-direction: row;
    margin-right: 0px;
}

.option-field {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cross {
    cursor: pointer;
    left: 100%;
    bottom: 30px;
    height: 10px;
    position: relative;
}

.minus, .plus {
    cursor: pointer;
    margin: 0 !important;
    margin-top: 0.6rem !important;
    width: 32px;
    height: 32px;
}

.icon-tab {
    display: flex;
}

.property-field > * {
    margin-right: 0px !important;
}

#category .a {
    pointer-events: none;
}
.custom-file-label::after{
    content: "Найти"
}
.choose-btn {
    padding: 20px;
    margin: 30px -20px -20px;
    background: #f7f7f7;
    text-align: center;
    vertical-align: middle;
    border-top: solid 1px #eee;
    display: block;
    color: #ff3f3f;
}
.choose-btn:hover{
    text-decoration:none;

}
.choose-delivery-link, .choose-delivery-link:hover{
    color: inherit;
    text-decoration: none;
    display:block;
}
.choose-delivery-link:hover{
    box-shadow: #ff3f3f 0 0 1px 1px;
}

.property-field > * {
    margin-right: 0px !important;
}

#category .a {
    pointer-events: none;
}

.custom-file-label::after {
    content: "Найти"
}

.td-centered > *, .td-centered {
    margin: auto;
}

.td-text-centered {
    text-align: center;
}

.box-footer > * {
    margin: 5px 0px;
}

.box-footer .right > * {
    margin: 0px 5px;
}

.box-footer .left > * {
    margin: 0px 5px;
}

.mb-0 {
    text-align: center;
}

.order-info{
    display:flex;
    justify-content:space-between;
    padding: 5px 10px;
}

.order-info-column{
    display:flex;
    flex-direction:column;
    align-items:start;
}
.order-info-item{
    margin:10px 0px 20px 0px;
}
.order-info-item-header{
    font-size:18px;
    font-weight:600;
}
.order-info-item-value {
    padding-left:0px;
}
.add-city-form{
    margin:5px 15px;
}
.add-city-form .btn{
    margin: 10px 0px;
}
.city-page-header h1 {
    text-align:center;
}
@media screen and (max-width:400px){
    .order-info{
        flex-direction:column;
    }
}

.suggestions-promo{
    display:none!important;
}
#queryIdWrapper{
    display:flex;
    flex-direction:row-reverse;
}

.change-state{
    background-color:white;
    margin:15px;
    padding:10px;
    display:flex;
    flex-direction:column;
}
.change-state h3{
    margin-top:15px;
}
.table td{
    vertical-align:middle;
}
#queryIdWrapper{
    align-items:center;
}