@{
    ViewData["Title"] = "Оформление заказа";
}
@model WebShop_FSharp.ViewModels.OrderModels.OrderSummaryViewModel
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <!-- breadcrumb-->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Главная</a></li>
                    <li aria-current="page" class="breadcrumb-item active">Оформление заказа</li>
                </ol>
            </nav>
        </div>
        <div id="checkout" class="col-lg-9">
            <div class="box">
                <form method="get" action="checkout3.html">
                    <h1>Выбор способа доставки</h1>
                    <div class="content py-3">
                        <div class="row">
                            <div class="col-md-6">
                                <a class="box shipping-method choose-delivery-link" asp-controller="Order" asp-action="DeliveryToShop">
                                    <h4>Самовывоз</h4>
                                    <p>Заберите товар в магазине</p>
                                    <div  class="choose-btn">Выбрать</div>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a asp-controller="Order" asp-action="DeliveryToHome" class="box shipping-method choose-delivery-link">
                                    <h4>Доставка</h4>
                                    <p>Доставим товар к вам домой</p>
                                    <div class="choose-btn">Выбрать</div>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                    <div class="box-footer d-flex justify-content-between">
                        <a href="@Url.Action("Index","Basket")" class="btn btn-outline-secondary"><i class="fa fa-chevron-left"></i>В корзину</a>
                    </div>
                </form>
            </div>
            <!-- /.box-->
        </div>
        <!-- /.col-md-9-->
        @await Html.PartialAsync("OrderSummary",Model)
        <!-- /.col-md-3-->
    </div>
</div>
