@{
    Layout = "";
}
@model IEnumerable<string>
<select class="form-control" id="ShopAddress" name="ShopAddress">
    @foreach (var item in Model)
    {
        <option value="@item">@item</option>
    }
</select>
